<div class="container-fluid">
    <div id="titulos">
      <div class="table-responsive-lg table-responsive-md table-responsive-sm table-responsive-xl table-responsive-xxl">
<table class="table" id="box1">
  <tr>
    <th>LOGOTIPO</th>
    <th>INSTITUCIÓN</th>
    <th>TITULO</th>
    <th>ESTADO</th>
    <th>FECHA DE <br>CERTIFICADO</th>
  </tr>
<tr *ngFor="let titulos of gradesList">
      <td>
      <a [href]="titulos.url"><img [src]="titulos.logo" width="80px" height="100px"></a><i class="fa-sharp fa-solid fa-pen" id="editDatosEdu"></i>
      </td>
      <td>
        <p>{{titulos.college}}</p><i class="fa-sharp fa-solid fa-pen" id="editDatosEdu"></i>
      </td>
      <td>
        <p>{{titulos.grade}}</p><i class="fa-sharp fa-solid fa-pen" id="editDatosEdu"></i>
      </td>
      <td>
        <p>{{titulos.status}}</p><i class="fa-sharp fa-solid fa-pen" id="editDatosEdu"></i>
      </td>
      <td>
        <p><time>{{titulos.dateOfGrade}}</time></p><i class="fa-sharp fa-solid fa-pen" id="editDatosEdu"></i>
      </td>
</tr>
</table>
      </div>
    </div>
</div>