<!--<h1 class="m-5">Iniciar Sesión</h1>
<form [formGroup]="form" style="width: 23rem;" (ngSubmit)="onEnviar($event)">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" id="email" formControlName="email" class="form-control form-control-lg"
              [ngClass]="{'is-invalid':Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}"/>
                <div *ngIf="Email?.errors && Email?.touched">
                  <p *ngIf="Email?.hasError('required')" class="text-danger">
                    El email es requerido.
                  </p>
                  <p *ngIf="Email?.hasError('email')" class="text-danger">
                    El email es incorrecto.
                  </p>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="email" id="email" formControlName="email" class="form-control form-control-lg"
              [ngClass]="{'is-invalid':Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}"/>
                <div *ngIf="Email?.errors && Email?.touched">
                <p *ngIf="Email?.hasError('required')" class="text-danger">
                  El email es requerido.
                </p>
                <p *ngIf="Email?.hasError('email')" class="text-danger">
                  El email es incorrecto.
                </p>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>-->


<section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
  
          <div class="px-5 ms-xl-4">
            <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
            <span class="h1 fw-bold mb-0">Portfolio Willer Torrico</span>
          </div>
  
          <div  class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
  
            <form [formGroup]="form" style="width: 23rem;" (ngSubmit)="onLogin($event)">
              <!--<form [formGroup]="form" style="width: 23rem;" (ngSubmit)="onLogin($event)">-->
              <!--<form #f="ngForm" (ngSubmit)="onLogin()" novalidate>-->
              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>
              <p class="text-black-50 mb-5">Por favor, ingresar email y contraseña</p>
  
              <div class="form-outline mb-4">
              <!--<input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg" [(ngModel)]="nombreUsuario" required/>-->
              <label class="form-label" >Email</label>  
              <input type="email" id="email" formControlName="email" class="form-control form-control-lg"
              [ngClass]="{'is-invalid':Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}"/>
                <div *ngIf="Email?.errors && Email?.touched">
                <p *ngIf="Email?.hasError('required')" class="text-danger">
                  El email es requerido.
                </p>
                <p *ngIf="Email?.hasError('email')" class="text-danger">
                  El email es incorrecto.
                </p>
              </div>
                
              </div>
  
              <div class="form-outline mb-4">
                <!--<input type="password" id="password" class="form-control form-control-lg" [(ngModel)]="password" required />-->
                <label class="form-label" >Contraseña</label>
                <input type="password" id="password" formControlName="password" class="form-control form-control-lg"
                [ngClass]="{'is-invalid': Password?.errors && Password?.touched,
              'is valid': !Password?.errors && Password?.touched}"
                />
                <div *ngIf="Password?.errors && Password?.touched">
                <p *ngIf="Password?.hasError('required')" class="text-danger">
                  La contraseña es requerida.
                </p>
                <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
                  La contraseña de ser de 4 o mas caracteres.
                </p>
              </div>    
              </div>
              <!--<p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">¿Se olvido la contraseña?</a></p>-->

                <button class="btn btn-info btn-lg btn-block pt-1 mb-4" type="submit">Enviar</button>
              
            </form> 
              
             <!--<p>¿No tienes una cuenta? <a href="#!" class="link-info">Registrate aqui</a></p>-->
            </div>
          </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="https://media.licdn.com/dms/image/C4E16AQEtDU9Mv6BeQA/profile-displaybackgroundimage-shrink_350_1400/0/1634467171589?e=1677110400&v=beta&t=SURVVc2yCkK_JtjWxlwYYXK4SGP4KKXtjWEEgCPMIvg"
            alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
        </div>
      </div>
    </div>
  </section>
