<header>
    <nav>
        <nav class="navbar navbar-expand-lg bg-opacity-50" id="BarraNav">
            <div class="container-fluid" id="navbarNav">
              <a class="navbar-brand" href="#"><img src="../assets/ArgProg.png" width="120px" height="70px"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="navbar justify-content-end collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="navbar-item">
                      </li>
                  <li>
                    <table>
                      <tr>
                  <td class="navbar-item">
                    <a class="navbar-link" href="#"><img src="../assets/facebook.png" width="30px" height="30px"></a>
                  </td>
                  <td class="navbar-item">
                    <a class="navbar-link" href="#"><img src="../assets/github.png" width="30px" height="30px"></a>
                  </td>
                  <td class="navbar-item">
                    <a class="navbar-link" href="#"><img src="../assets/google-mas.png" width="30px" height="30px"></a>
                  </td>
                  <td class="navbar-item">
                    <a class="navbar-link" href="#"><img src="../assets/instagram.png" width="30px" height="30px"></a>
                  </td>
                  <td class="navbar-item">
                    <a class="navbar-link" href="#"><img src="../assets/linkedin.png" width="30px" height="30px"></a>
                  </td>
                 <td > 
                 
                  <button class="button button1" id="login" (click)="login()">LOGIN</button>
               
                </td>
                </tr>
                </table>
                </li>
                </ul>
              </div>
            </div>
          </nav>
    </nav>
    </header>

