<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
        <b id="cursosYTalleres">Cursos y talleres</b>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <div class="table-responsive-lg table-responsive-md table-responsive-sm table-responsive-xl table-responsive-xxl">
<table class="table table-ligth" id="tacursos">
    <div class="container"> 
     <tr>
       <th>LOGOTIPO</th>
       <th>INSTITUCIÓN</th>
       <th>TEMA</th>
       <th>DURACIÓN<p>(horas)</p></th>
       <th>FECHA DE <P>CERTIFICADO</P></th>
     </tr>
     <tr *ngFor="let curso of coursesList">
       <td>
         <a [href]="curso.url"><img [src]="curso.logo" width="80px" height="80px"></a>
       </td>
       <td>
         <p>{{curso.institute}}<i class="fa-sharp fa-solid fa-pen" id="editDatosExp"></i></p>
       </td>
       <td>
         <p>{{curso.topic}}<i class="fa-sharp fa-solid fa-pen" id="editDatosExp"></i></p>
       </td>
      <td>
      <p>{{curso.duration}}<i class="fa-sharp fa-solid fa-pen" id="editDatosExp"></i></p>  
      </td>
      <td>
       <p><time>{{curso.dateOfCertificate}}</time><i class="fa-sharp fa-solid fa-pen" id="editDatosExp"></i></p>  
       </td> 
     </tr>
   </div>
   </table>
  </div>
</div>
</div>
</div>
</div>
