<article class="accordion-item">
    <h1 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="Page2Bar">
        <b>Educación</b>
      </button>
    </h1>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">   
       <app-pre-pos-grado></app-pre-pos-grado>         
       <app-cursos></app-cursos>
      </div>
      </div>
</article>

