<div class="container">
    <form [formGroup]="experienciaForm" (ngSubmit)="onCreate()">
      <div class="form-group">
        <label for="logoex">Descripcion de la actividad</label>
        <input type="text" class="form-control" id="logoEx" formControlName="logoex">
      </div>
      <div class="form-group">
        <label for="urlex">Lugar</label>
        <input type="text" class="form-control" id="urlEx" formControlName="urlex">
      </div>
      <div class="form-group">
        <label for="empresaex">Link del logotipo</label>
        <input type="text" class="form-control" id="empresaEx" formControlName="empresaex">
      </div>
      <div class="form-group">
        <label for="descripcionex">link de la empresa</label>
        <input type="text" class="form-control" id="descripcionEx" formControlName="descripcionex">
      </div>
      <div class="form-group">
        <label for="lugarex">Nombre de la empresa</label>
        <input type="text" class="form-control" id="lugarEx" formControlName="lugarex">
      </div>
      <div class="form-group">
        <label for="cargoex">Cargo desempeñado</label>
        <input type="text" class="form-control" id="cargoEx" formControlName="cargoex">
      </div>
      <div class="form-group">
        <label for="desdeex">Fecha de inicio</label>
        <input type="text" class="form-control" id="desdeEx" formControlName="desdeex">
      </div>
      <div class="form-group">
        <label for="hastaex">Fecha de fin</label>
        <input type="text" class="form-control" id="hastaEx" formControlName="hastaex">
      </div>
      <button type="submit" class="btn btn-primary">Añadir experiencia</button>
    </form>
  </div>
  