#login1{
    left: 50px;
}
#BarraNav{
    background: #44A08D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#SecPerfil{
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#presentacion{
      color: antiquewhite;
        font-size: small;
        }
#editBanner{
            position: absolute;
            right: 130pt;
            top: 100px;
            z-index: auto;
            color: white;
}
#editFotoPerfil{
            position:static;
            left: 130px;
            bottom: 100px;
            z-index: 1;
            color: azure;
          }
#editDatosPerfil{
            text-indent: 0.5em;
            color: azure;
          } 
#editDatosExp{
            text-indent: 0.5em;
            color: black;
          }      
#editDatosEdu{
            text-indent: 0.5em;
            color: black;
          }              
#Fotoperfil{
    position: relative;
    bottom: 80px;
  }

#parrafo1{
    color: gainsboro;
    right: 800px;
    justify-content: right;
    text-align: justify;
    font-size: small;
}
#Page2Bar{
    background: #403B4A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: navy;
    font-size: 50px;
    font-style: oblique;
/*Estilo de la tabla de experiencias */
}
#tabExp{
    text-align: center;
    justify-content: center;
    font-size: small;
    margin-block: 20px;
}
#DescExp{
    text-align: justify;
}
#tabExp{
    border-collapse: collapse; 
    font-size: smaller;
    vertical-align: middle;
}
#collog{
    width: 10%;
}
#colemp{
    width: 17.5%;
}
#coldes{
    width: 35%;
}
#colug{
    width: 15%;
}
#colcar{
    width: 17.5%;
}
#coltime{
    width: 5%;
}
#nameCompany{
    background-color: transparent;
}

#banner {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
#titulos{
    text-align: center;
    font-size: small;
    font-style: normal;
    line-height: 100%;
    overflow: scroll hidden;
}

#tacursos{
    border-collapse: collapse; 
    font-size: small;
    line-height: normal;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    margin-block: 20px;
}

#cursosYTalleres{
    font-size: x-large;
    font-style: normal;
    color: teal;
}
footer{
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: gainsboro;
    right: 800px;
    justify-content: right;
    text-align: justify;
    font-size: small;
}


/* Barra de progreso */

#progressbar1{
background: #d60707;
        }

.progress-title{
    font-size: 13px;
    font-weight: 600;
    color: #333;
    margin: 0 0 10px;
}
.progress{
    height: 15px;
    background: #d4d7e6b0;
    border-radius: 30px;
    box-shadow: none;
    margin-bottom: 7px;
    overflow: visible;
}
.progress .progress-bar{
    border-radius: 30px;
    box-shadow: none;
    position: relative;
    animation: animate-positive 4s;
}
.progress .progress-bar:before{
    content: "";
    width: 100%;
    height: 50%;
    background: rgba(0,0,0,0.3);
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.progress .progress-bar:after{
    content: "";
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #d60707;
    border: 4px solid #d60707;
    position: absolute;
    bottom: -8px;
    right: 0;
    z-index: 1;
}
@keyframes animate-positive{
    0%{ width: 0; }
}
#emailFooter:link{
  font-size: x-large;
  outline: #E7E9BB;
  text-decoration-color: #E7E9BB;
  padding: 2px 1px 0;
}
.cajas[_ngcontent-adu-c50] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    flex-wrap: nowrap;
    padding: 30px;
}
#contenidoSkill{
    margin-left: 5%;
    margin-right: 5%;
}